<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/bootswatch.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"
    ></script>
  </head>
  <body>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Register
        </h1>
        <%- include ./partials/messages %>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Ime</label>
            <input
                    type="name"
                    id="name"
                    name="name"
                    class="form-control"
                    placeholder="Unesite ime"
                    value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="prezime">Prezime</label>
            <input
                    type="text"
                    id="prezime"
                    name="prezime"
                    class="form-control"
                    placeholder="Unesite prezime"
                    value="<%= typeof prezime != 'undefined' ? prezime : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control"
                    placeholder="Unesite username"
                    value="<%= typeof username != 'undefined' ? username : '' %>"
            />
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="Grad">Grad</label>
              <select id="Grad" name="Grad" class="form-control">
                <option value="Sarajevo">Sarajevo</option>
              </select>
            </div>
            <div class="form-group col-md-5">
              <label for="Adresa">Adresa</label>
              <input type="text"
                     class="form-control"
                     id="Adresa"
                     name="Adresa"
                     placeholder="Unesite adresu"
              >
            </div>
            <div class="form-group col-md-3">
              <label for="broj">Broj</label>
              <input type="number"
                     class="form-control"
                     id="broj"
                     name="broj"
                     placeholder="Unesite broj adrese"
              >
            </div>
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Unesite e-mail"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Unesite password"
                    value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Potvrda Password-a</label>
            <input
                    type="password"
                    id="password2"
                    name="password2"
                    class="form-control"
                    placeholder="Potvrdite password"
                    value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </form>
        <p class="lead mt-4">Postoji već account? <a href="/users/login">Login</a></p>
      </div>
    </div>
  </div>
  </body>
</html>
